#messagebuffer.linewrap a {max-width: 100% !important}
/*#messagebuffer a {display: flex !important}*/
#messagebuffer a,#motdwrap a,footer a{color:#fff;text-decoration:none;position:relative;left:0;top:0;display:inline-block}#messagebuffer a:hover,#motdwrap a:hover,footer a:hover{color:#836fc1;text-decoration:none}#messagebuffer a:before,#motdwrap a:before,footer a:before{position:absolute;bottom:0;left:0;display:block;width:100%;height:1px;max-width:0;content:"";background-color:#836fc1;transition:max-width 150ms linear}#messagebuffer a:hover:before,#motdwrap a:hover:before,footer a:hover:before{max-width:100%}#chatline-inner{position:relative}:focus{outline:0!important;box-shadow:none!important}footer{min-height:30px;opacity:.5;transition:.1s;background-color:#836fc1!important}footer:hover{opacity:1}p{margin:0}

.shout, .poll-notify {font-size: 110%; color: skyblue;} /* размер шрифта в /say */
.timestamp.shout {font-size: 8pt; color: inherit; font-weight: 400;}
h1,h3 {margin: 0; padding: 0; font: normal 24px 'Exo 2';} /* заголовки */ 

#messagebuffer {overflow: auto; border-left: 1px dotted rgba(0, 60, 100, .5);}
.modal {
    background: rgba(0, 11, 33, .8);
}
#chatwrap, #leftcontrols, #leftpane {
    width: 35%;
}
#videowrap {padding: 0; width: 100%;}
#chatwrap {padding-left: 0; padding-right: 0; width: 55%}
#chatwrap, #leftcontrols, #leftpane {
    width: 35%;
}
#chatwrap, #videowrap, #rightcontrols, #leftcontrols, #leftpane, #rightpane {
    margin-left: 0%;
    margin-right: 0%;
    padding: inherit;
}
#videowrap, #rightcontrols, #rightpane {
    width: 63.5%;
    margin-right: 0;
}

#currenttitle, #mediainfo {
    background-color: rgba(0,0,0,0.7) !important;
}

#currenttitle, #mediainfo {
    text-align: center;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-corner {
    background: 0 0;
}
::-webkit-scrollbar-thumb {
    background: rgba(42, 59, 148, 0.5);
    border: 0 #fff;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track:hover {
    background: #000a14;
    border: 0 #fff;
}

.server-msg-reconnect {
    background-color: #62c462 !important;
    color: black !important;
}
.nick-hover {
    background-color: #ffffff38;
}
.modal-body, .modal-content {
    background: rgba(0,0,0,0.7);
}
/*textarea.form-control {
    color: black;
    background-color: rgb(255, 255, 255) !important;}*/



/*.userlist_owner {
    color: #008dcf !important;
}*/
body{background-image: url('https://kazasou.files.wordpress.com/2011/12/konachan-com-121431-black_hair-blue_eyes-long_hair-original-tagme-thighhighs-white_hair.jpg'); background-size:cover;background-repeat:no-repeat;background-attachment: fixed;background-color: black}
#messagebuffer{
    background: url(https://i.imgur.com/qdRNSig.png);
    background-size: revert;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
#nav-collapsible, 
#userlist, 
#chatheader, 
#mediainfo, 
#channeloptions > div.modal-dialog > div,
.dropdown-menu,
#emotelist > div.modal-dialog.modal-dialog-nonfluid > div,
#wrap,
#emotelist > div.modal-dialog.modal-dialog-nonfluid > div > div.modal-body > table > tbody {background-color: rgba(0,0,0,0.7) !important; border: none}
#footer{display: none}
#plmeta,
#mediainfo,
#currenttitle,
.well{border: none}
.btn, .btn:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 110, 0, 0.6);
}
.btn-default {
    color: #efefef;
    background: none repeat scroll 0 0 rgba(13, 15, 15, 0.6) !important;
    border-color: black;
}
input.form-control[type="text"], input.form-control[type="password"], input.form-control[type="email"], textarea.form-control {
    background-color: rgb(13, 15, 15, 0.6) !important;}
#channeloptions > div.modal-dialog > div > div.modal-header > button{color: red; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #2e8e3a;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #2e8e3a;
    border: 1px solid #1c1e22;
    border-bottom-color: transparent;
    cursor: default;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ee5f5b;
}
.label-default {
    background-color: transparent;
}
body{background-color:#000000;background-image: url(https://i.imgur.com/BihhTVT.jpeg);}
.well{background-color: transparent}
#messagebuffer{background-color: rgba(0, 0, 0, 0.8)}
input.form-control[type="text"] {
    background-color: #000000 !important;}

@media (max-width: 992px){
#chatwrap, #videowrap, #rightcontrols, #leftcontrols, #leftpane, #rightpane {width: 100% !important;}
#main {
    flex-direction: column;
}
#main {display: flex;}
}
}

#chat-panel, #titlerow-outer {
    background-color: rgba(0,0,0,0.6);
}
#showsearch > span.hidden-xs, #showcustomembed > span.hidden-xs, #showplaylistmanager > span.hidden-xs {
    font-size: 0;
}
#showmediaurl {
    font-size: 0px;
    padding: 0px;
    height: 28px;width: 28px;
}
#showmediaurl:before {
    font-size: 19.5px;
    font-weight: bold !important;
    content: "\2b";
    margin: 10px;
}

.close, .modal .close {
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}
.modal-header .close {
    margin-top: -2px;
}
.modal .close {
    font-size: 2em;
    color: rgba(205, 205, 205, .5);
    opacity: 1;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}
#set-width-wrap{display:none}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50);
}
html {
    overflow-x: hidden;}
.col-lg-5, .col-md-5 {
    padding-left: 0px
}

#currenttitle, #mediainfo {
    text-align: center;}
#pictures-trash {
    /*display: table-cell;*/
    min-height: 50px;
    border-right: 2px solid rgba(0,10,20,.75);
    width: 60px;
    background: rgba(0,10,20,.5);
    border-top-left-radius: 6px;
}
#pictures-trash {
    display: table-cell;
    min-height: 50px;
    border-right: 2px solid rgba(0,10,20,.75);
    width: 60px;
    background: rgba(0,10,20,.5);
    border-top-left-radius: 6px;
}

#modal-picture, .affix {
    position: fixed;
}

#modal-picture-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;
}

#modal-picture, #modal-picture-overlay {
    width: 100%;
    height: 100%;
}
#modal-picture img {
    width: auto;
    height: 50%;
}
.ce-themes__item__picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}
.ce-themes__item.active {
    border: 1px solid #78cc78;
    cursor: auto;
}
.ce-themes__item {
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background: #000;
    cursor: pointer;
}
#modal-picture-options-wrapper, #pictures-trash {
    position: relative;
}
.chat-picture {cursor: -webkit-zoom-in;max-width: 220px}
#image_preview{max-height: 300px}
#modal-picture img{width:auto;height:50%}
#modal-picture{left:100%;top:90%;z-index:100000000}
#modal-picture,.affix{position:fixed}
#modal-picture,#modal-picture-overlay{width:100%;height:100%}
#favourite-pictures-panel,#smiles-panel{text-align:center;margin:4px 10px 10px;border:2px solid rgba(0,10,20,0.75);background-color:rgba(0,10,20,0.3);border-radius:6px}#favourite-pictures-panel{border-bottom:none;border-bottom-left-radius:inherit;border-bottom-right-radius:inherit}#favourite-pictures-panel img,#smiles-panel img{margin:5px;max-height:40px;max-width:80px;cursor:pointer}#pictures-trash{display:table-cell;min-height:50px;border-right:2px solid rgba(0,10,20,.75);width:60px;background:rgba(0,10,20,0.5);border-top-left-radius:6px}.favourite-pictures-panel-row{display:table;width:100%;border:none;min-height:60px}#pictures-body-panel{display:table-cell}.pictures-trash-icon{position:absolute;top:50%;left:50%;margin-top:-7px;margin-left:-7px}#pictures-trash.favourite-picture-drop-hover{background:rgba(245,28,22,.6)}.chat-avatar{margin-right:5px;background:rgba(255,255,255,.9);border-radius:5px}.chat-avatar_hidden{display:none}.chat-avatar_small{max-width:30px;max-height:22px}.chat-avatar_big{max-height:75px;max-width:80px;margin-top:2px;margin-bottom:2px;border-radius:7px}
.queue_active .qe_title {
    font-size: 12pt;
    background-image: url(https://dl.dropbox.com/s/iulhxvxxfaed2st/kobato_pl.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px;
}
.cirno/*, .userlist_item .userlist_owner*/ {
    color: rgb(131, 111, 193) !important;
    font-weight: bold !important;
}
#modal-picture {
    left: 100%;
    top: 90%;
    z-index: 100000000;
    box-sizing: border-box;
}
.ce-themes__item {
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background: #000;
    cursor: pointer;
}
.ce-themes__item__title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #fff;
    background: rgba(0,0,0,.8);
    padding: 10px;
    z-index: 5;
}
.channel-emote {
    max-height: 80px !important;
}
col-lg-12, .col-md-12 {
    padding-left: 0px;
}
#userlist{padding-left: 3px !important}
.nick-highlight, .nick-hover {
    background-color: rgba(49, 49, 49, 0.28) !important;
    color: #f9f9f9 !important;
}
.navbar-header{background-color: black}

/*.navbar-header>a {
    display: block;
    width: 5.5em;
    height: 50px;
    background-image: url(https://dl.dropboxusercontent.com/s/t9heuqauk35aasy/purlogo.png);
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-header>a img {
    display: none;
}*/

@media (min-width: 768px){
#nav-collapsible > ul > li:nth-child(1) > a > b{display:none !important;}
#nav-collapsible > ul > li:nth-child(5) > a,
#showchansettings,
#nav-collapsible > ul > li:nth-child(3) > a,
#nav-collapsible > ul > li:nth-child(2) > a,
#nav-collapsible > ul > li:nth-child(1) > a{font-size: 0px;height: 50px;width:50px;}
#nav-collapsible > ul > li:nth-child(1) > a:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://dl.dropbox.com/s/uvnow1cde0juxxi/bullets_list_bullet_arrow-512.png") no-repeat 0 0;
    background-size: 100%;
}
#nav-collapsible > ul > li:nth-child(2) > a:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://dl.dropbox.com/s/3yiovmg3yxwbeiw/Skills.png") no-repeat 0 0;
    background-size: 100%;
}
#nav-collapsible > ul > li:nth-child(3) > a:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://dl.dropbox.com/s/0jghf606hsslj85/settings.png") no-repeat 0 0;
    background-size: 100%;
}
#showchansettings:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://dl.dropbox.com/s/vktirm2qp49tfgq/Apps-Settings-icon.png") no-repeat 0 0;
    background-size: 100%;
}
#nav-collapsible > ul > li:nth-child(4) > a{display:none}
#nav-collapsible > ul > li:nth-child(5) > a:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://dl.dropbox.com/s/vktirm2qp49tfgq/Apps-Settings-icon.png") no-repeat 0 0;
    background-size: 100%;
}
}
.motd-tab-content{background-color: rgba(0,0,0,0.7)}
#leftcontrols .btn {
    margin-right: 0px;
}
body {overflow-x: hidden}
.channel-frame {
    margin: 10px 10px;
    padding: 1px 10px;
    border: 2px solid;
border-style: dashed;
border-color: #008dcf;
}
.dropdown-menu, .profile-box, .videolist .queue_entry {
    background: rgba(0,0,0,0.6);
}
#chatheader, #chatline, #currenttitle, #plmeta, #messagebuffer , .btn, .form-control, .modal-content, .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover, .navbar-inverse .navbar-nav li a:focus, .navbar-inverse .navbar-nav li a:hover, .profile-box, .queue_entry, .user-dropdown, .well {
    border-radius: 0;
    border: none;
}

.queue_active a:before, .queue_active {
    background: linear-gradient(to bottom,rgba(0,10,20,.8),rgba(64, 75, 152, 0.67))!important;
}
table, table td {
    background-color: transparent;
}
.container-fluid {padding-left: 0px !important;}

.col-lg-12,  .col-md-12 {padding-left: 0px;}

/*#mainpage { padding-top: 60px !important;}

*/.row {margin-left: 0px;margin-right: -15px;}
.input-group-addon{background-image: linear-gradient(#323562,#2b2a56 60%,#2b2d54);}

.userlist_owner.CTX { color: #ec2b2b !important; font-weight: bold !important;}
.userlist_owner.agap{ color: #e85858 /*#836fc1*/ !important; font-weight: bold !important;}

@media (max-width: 768px){#userlist, #messagebuffer{height: 50vh !important;}#doc_time{font-size: 16px !important}}
#doc_time{color: #75cbff}
/*input.form-control[type="text"], input.form-control[type="password"], input.form-control[type="email"], textarea.form-control {
    background-color: rgb(255, 255, 255) !important;
}*/
#chatline{background-color: rgb(13, 15, 15, 0.6) !important;
}
textarea.form-control {
    color: #f5f2f2;}
#chatwrap, #videowrap, #rightcontrols, #leftcontrols, #leftpane, #rightpane {
    width: 100% important;
}
.modal {
position: fixed;
top: 0;
z-index: 1040;
display: none;
overflow: auto;
overflow-y: scroll; 
}
#videowrap{overflow-x: none}

#no-script:before{content: 'Режим ограниченного функционала. Все возможности канала недоступны.';
position: fixed;
    left: 0px; top: 50px; width: 200px;
    z-index: 1; 
    background: rgba(255,255,230,0.76); 
    font-family: Arial, sans-serif;color:black;
    font-size: 11px; 
    padding: 2px 2px;
    border: 1px solid #333; 
}

#useroptions > div.modal-dialog > div > div.modal-header > ul > li:nth-child(4) > a:after{content: url('https://dl.dropbox.com/s/zz63jgewgqtcv1a/strelka_down.gif');
    position: absolute;
    left: 35px;
    top: -5px;
    z-index: 1; 
}
#us-scriptcontrol > table > tbody > tr:nth-child(n) > td:nth-child(3) > label:nth-child(1):before{content: url('https://dl.dropbox.com/s/zm16tn9d9clvalh/strelka_right.gif');
position: relative;
    left: -20px; top: -0px; height: 20px !important;
    z-index: 1; 
}
#useroptions > div.modal-dialog > div > div.modal-footer > button.btn.btn-primary:before{content: url('https://dl.dropbox.com/s/zm16tn9d9clvalh/strelka_right.gif');
position: relative;
    left: -5px; top: 2px; height: 20px !important;
    z-index: 1; 
}

#vopros:hover::after{content: 'Если вы сохранили выбор, то чтобы включить полный функционал следуйте подсказкам в виде зелёных стрелок и перезагрузите страницу. Если вы не сохранили выбор, то просто перезагрузите страницу и выберите полный функционал.';
position: absolute;
    left: 24px; top: 40px; width: 200px;
    z-index: 1; 
    background: rgba(255,255,230,0.76); 
    font-family: Arial, sans-serif;color:black;
    font-size: 11px; 
    padding: 2px 2px;
    border: 1px solid #333; 
}
.action {
    color: #93de99;
}


/*main*/
#plmeta{font-size: 11px;}
#plcount{padding-left: 5px;}
#main {background-color: rgba(0,0,0,0) !important;}
.chat-picture {
    max-width: -webkit-fill-available !important;
}
/*****/